{% extends "home/base.html" %}

{% block content %}
{% load static %}

<a href = "{% url 'home:index' %}">Home</a><br/>
<h2>Go to a Poll in:</h2>

{% if categories_list %}
    <ul>
    {% for category in categories_list %}
        <li> <a href="{% url 'vote:index' category.id %}"> {{ category }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}

<h2>Your Categories:</h2>

<a href = "{% url 'vote:newCategory' %}">Create New Category</a>

{% endblock %}
