{% load static %}

<a href = "{% url 'home:index' %}">Home</a>
<a href = "{% url 'home:categories' %}">Branches</a>
<a href = "{% url 'home:individualCategory' category.id %}">{{ category }}</a><br/>

<h2>{{ category.category_name }} Polls</h2>

<h2>Enter a poll:</h2>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--this works but category is not being passed-->
        <li><a href="{% url 'vote:detail' category.id question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href = "{% url 'vote:newPoll' category.id %}">Create New Poll</a>
