{% extends "home/base.html" %}

{% block content %}
{% load static %}

<!--<br/>-->
<!--<a href = "{% url 'home:index' %}">Home</a><br/>-->
<h2>Branches:</h2>

{% if categories_list %}
    <ul>
    {% for category in categories_list %}
        <li> <a href="{% url 'home:individualCategory' category.id %}"> {{ category }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}

<a href = "{% url 'home:newCategory' %}">Create New Branch</a>

{% endblock %}
