{% extends "home/base.html" %}

{% block content %}
{% load static %}

<h2>{{ category.category_name }}</h2>
<!--if user not part of this then show join-->
<!--or else don't show work or polls and maybe even discussion-->

{% if user in category.members.all %}
    <a href="">Work</a><br/>
    <a href="{% url 'vote:index' category.id %}">Polls</a><br/>
    <a href="{% url 'discuss:Index' category.id %}">Discuss</a><br/>
    <a href="">Info</a><br/>
    {% if user in category.moderators.all %}
        <a href="">Moderator Access</a><br/>
    {% endif %}
    {% if category.closed_category %}
        <a href="{% url 'home:pendingMembersView' category.id %}">Pending Members</a><br/>
    {% endif %}
{% endif %}

{% if user in category.pending_members.all %}
    <p>Pending membership</p>
{% endif %}

{% if user not in category.members.all %}
    <a href="{% url 'home:joinCategory' category.id %}">Join</a><br/>
    <a href="">Info</a><br/>
{% endif %}

<a href="{% url 'home:membersView' category.id %}">Members</a>

<h2>Activity Feed</h2>
<a href="">Jared changed the logo</a> <a href="">Yay</a> <a href="">Nay</a> <a href="">Discuss</a>


{% endblock %}
