{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'home:submitNewCategory' %}" method="post">
{% csrf_token %}
    <h1>Create new Branch</h1>
    <div id="forms">
        <label>Name: </label>
        <input type="text" name="new_category" id="new_category"/><br/>
        <label>Need permission to join? </label>
        <input type="checkbox" value="true" name="closed_category" id="closed_category"/><br/>
    </div>
    <input type="button" onclick="addCategory('forms')" value="Add Category"/>
    <input type="submit" value="Submit"/>
</form>
