{% include "home/base.html"  %}
<br/><br/>
{% include "org_home/base.html" with organization=organization %}

{% block content %}
{% load static %}

<h2>Branches:</h2>

{% if categories_list %}
    <ul>
    {% for category in categories_list %}
        <li> <a href="{% url 'org_home:individualCategory' organization.id category.id %}"> {{ category }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}

<a href = "{% url 'org_home:newCategory' organization.id %}">Create New Branch</a>

{% endblock %}
