{% extends "org_home/base.html" %}

{% block content %}
<h1>Game Coop</h1>
<p>------------------------</p>

{% if user.is_authenticated %}
{% if member_categories_list %}
<h3> {{ user.username }}'s branches:</h3>
    <ul>
    {% for category in member_categories_list %}
        <li> <a href="{% url 'org_home:individualCategory' category.id %}"> {{ category }} </a> </li>
    {% endfor %}
    </ul>
{% endif %}
<p>------------------------</p>
{% endif %}

<a href = "{% url 'org_struct:index' %}">Organizational Structure</a><br/>
{% endblock %}
